.test {
    --dark-purple: 4 6 22;
    --light-purple: 120 119 198;

    --bg-color: linear-gradient(rgb(var(--dark-purple)), rgb(var(--dark-purple)));
    --border-color: linear-gradient(10deg,
    rgb(var(--light-purple)) 0%,
    rgb(var(--light-purple) / 0.3) 33%,
    rgb(var(--light-purple) / 0.14) 66.67%,
    rgb(var(--light-purple) / 0.1) 100%);

    transition: background-position 0.5s ease;
    animation: slide 2s infinite alternate-reverse;
    /*animation-play-state: paused;*/
}

.test:hover {
    animation-play-state: running;
}

@keyframes slide {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
